* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: 'Roboto Mono', sans-serif;
}
body {
    margin: 0% 15%;

}

h4 {
    font-size: 1rem;
    color: rgb(56, 56, 56);
  }
  
  h3 {
    font-size: 1.5rem;
    color: rgb(56, 56, 56);
    line-height: 2.5rem;
    margin: 2rem 0rem;
  }
  h1{
    font-size: 6.2rem;
    color: rgb(56, 56, 56);
    margin: 1rem auto;
  }
  a {
    color: rgb(56, 56, 56);
  }
  
  p {
    color: rgb(56, 56, 56);
    font-size: 1rem;
  }